# Ignore traj and log files
**/*.dcd
**/*.nc
**/*.xtc
**/*.log
**/*.tex
**/*.pyc

# Ignore PDB files
**/*.pdb

# Local files
transfer_files.py
poster_figs.ipynb
paper_figs.ipynb
move_scripts.py
**/add_indices.py
